<header class="page-header">
  <h1>Photos Detail</h1>
</header>


<div class="container">
  <div class="row">
    
      <div class="col-xs-4">

        <img src="{{ photo.url }}" alt="Photo" class="img-responsive"></a>
        <p>{{photo.name}} Created by: {{username}} </p>
      </div>

  </div>
    {{#each thumbnails as |thumbnail| }}
    <div class="thumbnails">
    Other photos by this user:
    <div class="col-xs-4">
        <img src="{{ thumnail.url }}" alt="Photo" class="img-responsive"></a>
       
      </div>
      {{/each}}
</div>